.heart-container {
    position: relative;
    width: 40px;
    height: 40px;
transform:rotate(-45deg);
display: inline-block;
margin: 0 8px;
}
.heart{
    position: absolute;
    width: 40px;
    height: 40px;
    backdrop-filter: blur(40px);
}
.heart-container > div:not(:first-child) {
    position: absolute;
    width: 40px;
    height: 40px;
  border-radius:50%;
  border-bottom-left-radius:0;
  
}
.heart-left{
    /* background-color: blue; */
    backdrop-filter: blur(40px);
    top: -40px;
  border-bottom-right-radius:0;
}
.heart-right {
    /* background-color: green; */
    backdrop-filter: blur(40px);
    right: -40px;
  border-top-left-radius:0;
}