.container {
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #f6581e;
  }
  
  .card {
    margin-top: 20px;
  }
  
  .button {
    background-color: #f6581e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #60d600;
  }
  

.navbar
{
  padding: 0.7rem 3rem;
  background-color: #0D0F14;
  /* display: flex  */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer{
  width: fit-content;
  
}
.logo {
  width:220px;
}

.headList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headList ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  color: #fff; /* Initial link color */
  font-family: "Poppins", sans-serif;;
}

.headList ul li.active {
  color: #60d600 /* Active link color (green) */
}