<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification to Change Email Address</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: lightgrey; color: white; margin: 0; padding: 0; width: 100%">

    <div style="max-width: 600px; margin: auto; background-color: black;">

        <table width="100%" bgcolor="#000" style="border-collapse: collapse; padding: 0; margin: 0">
            <tr>
                <td style="padding: 0; padding-top: 20px; text-align: center;">
                    <img src="https://shrishyamimpex.com/ug/logo.png" alt="Your Logo" style="max-width: 250px;">
                </td>
            </tr>
            <tr>
                <td style="padding: 0; text-align: center;">
                    <h1 style="color: #f6581e;">Verification to Change Email Address</h1>
                </td>
            </tr>
            

            <!-- Content -->
            <tr>
                <td style="padding: 20px; padding-top: 0px;color:white;">
                    <p style="color: white;">Dear User,</p>
                    <p style="color: white;">You have requested to change your email address for your Ultimate Genius account.</p>
                    <p style="color: white;">To complete this change and ensure the security of your account, we need to verify your new email address.</p>
                    <p style="color: white;">Please take a moment to verify your email by entering the OTP provided below:</p>
                    <p style="color: white; font-weight:700;">OTP: <span style="color: #60d600;"><!--OTP_PLACEHOLDER--></span></p>
                    <p style="color: white;">Your dedication to learning is about to be rewarded with access to a world of knowledge and fun challenges. But first, let's confirm your new email address to proceed!</p>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>
