
.waitingRoom {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .studentList {
    list-style-type: none;
    padding: 0;

  }
  .listHeading{
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .studentItem {
    margin-bottom: 10px;
  }
  
  .studentInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border:1px solid #f6561e;
    width: 60vw;
    margin:auto;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .removeButton {
    background-color: #f6561e;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .removeButton:hover {
    background-color: #ff7f44;
  }
  
  .startButton {
    background-color: #60d600;
    color: #ffffff;
    border: none;
    border-bottom: 4px solid #367800;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  .startButton:hover{
    font-weight: 700;
  }
  .startButton:active{
    border-color:#ff7f44;
  }
  
  .startButton:hover {
    background-color: #ff7f44;
  }
  